.color-by-name {
  background-color: coral;
  color: rebeccapurple;
  border: thick solid greenyellow;
}

/* Sistema Hexadecimal 
0123456789ABCDEF

RedGreenBlue (Medios Digitales) vs CyanMagentaYellowKey (Medios Impresos)

Color en HEX va a ser colores de 6 dígitos.
#ff6600
*/

.color-hex {
  background-color: #ff6600;
  background-color: #f60;
  background-color: #ff6605;
  background-color: #000000;
  background-color: #000005;
  background-color: #0001; /* Opacidad */
  color: #12ac78;
  border: thick solid #ffffff;
  border: thick solid #fff;
  border: thick solid #ff0000;
  border: thick solid #f00;
  border: thick solid #00ff00;
  border: thick solid #0f0;
  border: thick solid #0000ff;
  border: thick solid #00f;
  border: thick solid #000000;
  border: thick solid #000;
  border: thick solid #f2ff00;
}

/* Sistema RGB
Acepta 8 bits por canal
Bit (0/1) 2 elevado a la potencia 8 = 2*2*2*2*2*2*2*2= 256 valores por canal
por cada canal de color tenemos valores que va del 0 al 255
*/
.color-rgb{
  background-color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 0);
  background-color: rgb(0, 255, 0);
  background-color: rgb(0, 0, 255);
  background-color: rgb(0, 0, 0); 
  background-color: rgb(0, 0, 0, 0.13); /* Opacidad */
  color: rgb(70, 0, 100);
  border: thick solid rgb(128, 109, 0);
}
/*
Sistema HSL 
Hue, Saturation, Lightness (Tono, Saturación, Luminosidad)
Saturación: 0% = gris, 100% = color puro

1. El primer valor es el Hue = TONO (0-360 grados)
0° = Rojo
60° = Amarillo
120° = Verde
180° = Cian
240° = Azul
300° = Magenta

2. El segundo  valor es SATURACION (0-100%) Intensidad del color
0% = gris, 100% = Color puro

3. El tercer valor es LUMINNOSIDAD (0-100%) Brillo del color
0% = negro, 100% = blanco
*/

img[alt="circulo-cromatico-hsl"]{
  width: 100%; /* Ancho completo del contenedor */
  height: auto;  /* Altura automática para mantener la proporción */
  max-width: 500px; /* Ancho máximo para evitar que se expanda demasiado */
  display: block; /* Para centrar la imagen en el contenedor */
  margin: auto; /* Centrar la imagen horizontalmente */
}
.color-hsl {
background-color: hsl(80, 100%, 50%);
border: thick solid hsl(hue, saturation, lightness);
color: hsl(240, 100%, 60%);
color: thick solid hsl(290, 100%, 50%);
padding: 10px;
}


/* Valor transparent = es lo mismo que aplicar el color rgb(0,0,0,0)
  Valor currentColor = Hereda el valor por defecto asignado a la propiedad COLOR del ancestro que tenga definidad estra propiedad, busca el ancestro más cercano al más alejado*/
.color-transparent-current {
  padding: 10px;
  color: orange;
  background-color: magenta;
  background-color: transparent;
  color: white;
  color: transparent;
  color: currentColor;
  color: magenta;
  border: currentColor thick solid;
  /* color: black; */
}

/* opacity */
.opacity {
  background-color: orchid;
  color: navy;
  border: thick solid black;
  opacity: 0.1; /* Opacidad del 50% */
}